<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>bootstrap, from twitter</title>
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css" media="screen">
    <style type="text/css">
    </style>
  </head>
  <body>
    <div id="navegation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Books Online</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Catalog</a></li>
              <li><a href="#history/orders">Order History</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="container-fluid">
      <div id="application"></div>
    </div>
    <footer>
    <hr>  
    </footer>
    <script id="CatalogLayout" type="text/template">
      <div id="Cart" class="row-fluid">
        <div class="row-fluid">
          <div id="categories" class="span2">
            <p>Im the Categories Region<p>
          </div>
          <div class="span6">
            <div id="products" class="row-fluid">
              <p>Im the products list Region<p>
            </div>
            <div id="book" class="row-fluid">
              <p>Im the book description Region<p>
            </div>
          </div>
          <div id="order" class="span4">
            <p>Im the Order Region<p>
          </div>
        </div>
      </div>
    </script>
    <script id="books-template" type="text/html">
      BLAH
      <ul>
        <% _.each(items, function(item){ %>
        <li><a href="book/<%= item.id %>"><%= item.name %></a></li>
        <% }); %>
      </ul>
    </script>
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <script type="text/javascript" src="/lib/underscore.js"></script>
    <script type="text/javascript" src="/lib/backbone.js"></script>
    <script type="text/javascript" src="/lib/backbone.marionette.js"></script>
    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="src/js/bookstore.js"></script>
  </body>
</html>
